<div class="container pt-5 mt-6">
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="rounded-5 row pt-5">
        <a class="d-block card-hover pt-4 col-md-6 col-sm-4" 
       
        data-sub-html="<h4>Photo by - </h4> <p>Location - </p>" 
        href="https://res.cloudinary.com/dkpmezpui/image/upload/v1709608375/almondcoveassets/gallery/lost-homes-1/lost_homes-5.jpg">
            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden z-2 opacity-0">
                <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
                <div class="position-absolute top-0 start-0 w-100 h-100 opacity-40"></div>
            </div>
            <div class="rounded-5">
                <img class="" src="https://res.cloudinary.com/dkpmezpui/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1709608375/almondcoveassets/gallery/lost-homes-1/lost_homes-5.jpg" alt="Open space" />
            </div>
        </a>
    </lightgallery>
</div>
