

<!-- About -->
<section class="container py-md-4 py-lg-5 mb-xl-3 mb-xxl-5">
    <div class="row pt-sm-2">
        <div class="col-xl-10">
            <p class="fs-2 text-dark pb-md-2 mb-lg-5">
                From the first stages of developing a project plan idea, we pay special attention
                <span class="fw-semibold">to design solutions to existing problems,</span>
                create brands that become part of history, and create a digital skill that harnesses the power of
                <span class="fw-semibold">creativity and humanity.</span>
            </p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-4 col-lg-3 mb-3">
            <h3 class="display-1 mb-0 mb-sm-1">16</h3>
            <span class="fs-sm">Awards in various industries</span>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <h3 class="display-1 mb-0 mb-sm-1">22</h3>
            <span class="fs-sm">Full time specialists</span>
        </div>
        <div class="col-sm-4 col-lg-3 mb-2 mb-sm-3">
            <h3 class="display-1 mb-0 mb-sm-1">205</h3>
            <span class="fs-sm">Happy clients all over the world</span>
        </div>
    </div>
</section>
   <!-- Stats -->
   <section class="container pb-2 pb-sm-3 pb-md-4 pb-lg-5 mb-xl-3 mb-xxl-5">
    <div class="bg-secondary rounded-5 py-4 py-md-5 px-lg-5">
      <div class="row row-cols-2 row-cols-md-4 g-0">
        <div class="col d-md-flex justify-content-center text-center text-md-start position-relative">
          <div class="position-absolute top-50 end-0 translate-middle-y border-end" style="height: 60px;"></div>
          <div class="p-3 px-sm-0 py-sm-4">
            <div class="h2 display-5 text-primary mb-0">300K+</div>
            <span>Youtube views</span>
          </div>
        </div>
        <div class="col d-md-flex justify-content-center text-center text-md-start position-relative">
          <div class="position-absolute top-50 end-0 translate-middle-y border-end d-none d-md-block" style="height: 60px;"></div>
          <div class="p-3 px-sm-0 py-sm-4">
            <div class="h2 display-5 text-primary mb-0">80K+</div>
            <span>Soundcoud plays</span>
          </div>
        </div>
        <div class="col d-md-flex justify-content-center text-center text-md-start position-relative">
          <div class="position-absolute top-50 end-0 translate-middle-y border-end" style="height: 60px;"></div>
          <div class="p-3 px-sm-0 py-sm-4">
            <div class="h2 display-5 text-primary mb-0">10+</div>
            <span>Projects delivered</span>
          </div>
        </div>
        <div class="col d-md-flex justify-content-center text-center text-md-start position-relative">
          <div class="p-3 px-sm-0 py-sm-4">
            <div class="h2 display-5 text-primary mb-0">10+</div>
            <span>Radio features</span>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Testimonials (Carousel) -->
    <section class="container mt-n3 mt-sm-n2 pb-5 mb-md-2 mb-lg-3 mb-xl-4 mb-xxl-5">
        <h2 class="h1 text-center pb-3 pb-lg-4">Testimonials</h2>

        <!-- Swiper slider -->
        <div class="swiper pb-1 pb-md-2 pb-lg-3 pb-xl-4" data-swiper-options='{
          "spaceBetween": 24,
          "loop": true,
          "autoHeight": true,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "576": { "slidesPerView": 2 },
            "992": { "slidesPerView": 3 }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide">
              <div class="card border-0 mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/22.jpg" width="60" alt="Jane Cooper">
                    <div class="ps-3">
                      <div class="h6 mb-1">Jane Cooper</div>
                      <div class="fs-sm text-body-secondary">Medical Assistant</div>
                    </div>
                  </div>
                  <p class="card-text">Sit risus metus, vel neque eu lectus duis. Vulputate facilisi at feugiat mi aenean nunc enim faucibus arcu. Diam id accumsan sit.</p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/25.jpg" width="60" alt="Cameron Williamson">
                    <div class="ps-3">
                      <div class="h6 mb-1">Cameron Williamson</div>
                      <div class="fs-sm text-body-secondary">Marketing Coordinator</div>
                    </div>
                  </div>
                  <p class="card-text">Nam convallis maecenas leo sapien interdum id. Facilisi dictum lacinia in phasellus. Nullam id sed tempor, volutpat blandit urna sagittis, commodo vestibulum. Adipiscing dictumst nunc enim massa lacus lobortis.</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
              <div class="card border-0 mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Wade Warren">
                    <div class="ps-3">
                      <div class="h6 mb-1">Wade Warren</div>
                      <div class="fs-sm text-body-secondary">President of Sales</div>
                    </div>
                  </div>
                  <p class="card-text">Vitae tempor morbi tellus pulvinar. Ut iaculis sit tristique in turpis volutpat quam nec. Pretium eu nulla egestas ultrices. Donec in pulvinar ut fermentum a, nunc, aliquam. Integer dui dui ornare sed lacinia.</p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/26.jpg" width="60" alt="Leslie Alexander">
                    <div class="ps-3">
                      <div class="h6 mb-1">Leslie Alexander</div>
                      <div class="fs-sm text-body-secondary">CEO, Divi</div>
                    </div>
                  </div>
                  <p class="card-text">Malesuada at ullamcorper adipiscing lobortis vestibulum. Aliquet lobortis justo arcu ut auctor porttitor amet, tortor. Justo.</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
              <div class="card border-0 mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/24.jpg" width="60" alt="Esther Howard">
                    <div class="ps-3">
                      <div class="h6 mb-1">Esther Howard</div>
                      <div class="fs-sm text-body-secondary">CEO, Slack</div>
                    </div>
                  </div>
                  <p class="card-text">Ante turpis leo dictum adipiscing nisl magnis elementum eu. Integer consequat sed ipsum massa egestas integer proin id.</p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/27.jpg" width="60" alt="Brooklyn Simmons">
                    <div class="ps-3">
                      <div class="h6 mb-1">Brooklyn Simmons</div>
                      <div class="fs-sm text-body-secondary">Marketing Coordinator</div>
                    </div>
                  </div>
                  <p class="card-text">In quisque dolor, aliquam faucibus. Gravida diam ornare egestas proin quis odio suspendisse pellentesque. Condimentum risus, rutrum curabitur faucibus mi a turpis morbi. Nulla euismod dolor quis amet sed.</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
              <div class="card border-0 mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/28.jpg" width="60" alt="Fannie Summers">
                    <div class="ps-3">
                      <div class="h6 mb-1">Fannie Summers </div>
                      <div class="fs-sm text-body-secondary">VP of Sales</div>
                    </div>
                  </div>
                  <p class="card-text">In et dui amet amet elementum urna, dictum. Eget leo ornare bibendum a fermentum. Rutrum pellentesque ipsum cras purus ac a ullamcorper. Elit ac amet quam tellus euismod ac aliquam pharetra lectus.</p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle" src="assets/img/avatar/29.jpg" width="60" alt="Robert Fox">
                    <div class="ps-3">
                      <div class="h6 mb-1">Robert Fox</div>
                      <div class="fs-sm text-body-secondary">Marketing Coordinator</div>
                    </div>
                  </div>
                  <p class="card-text">At felis non consequat neque in ultrices tortor purus dui. At sed fermentum, egestas amet et donec euismod risus. Nulla mauris.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative bottom-0 mt-2 mt-md-3 mt-lg-4 pt-4"></div>
        </div>
      </section>
